header{
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #0066ff;
  font-family:Georgia;
  text-align: center;
  color: #ffffff;
}

.border{
  border: 2px solid grey;
  border-radius: 10px;
  background-color: lightgrey;
}

.center{
  text-align: center;
}
